* {
    /* background: #ffffc5; */
}
header {
    height: 50px;
}

.imageList {
    margin-right: 5%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-left: 5%;

}

img {
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    height: 290px;
    width: 290px;
    object-fit: cover;

}

#title {
    font-family: sans-serif;
    position: absolute;
    padding-top: 5px;
    padding-left: 7px;
    font-size: 20px;
    width: 240px;
    color: white;
    font-weight: bold;
}
.black {
    height: 65px;
    width: 292px;
    background: black;
    position: absolute;
    padding-top: 15px;
    opacity: 0.5;
    z-index: 200;
    margin-top: 16px;
        z-index: 50;
}
.upload {
    display: flex;
    background: #f9f9f9;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
}
.inputs{
    margin-left: -4%;
}
#inputfield {
    border: 1px solid black;
    border-radius: 4px;
    height: 24px;
    padding-left: 7px;
    margin-right: 8px;
    box-shadow: 1px 1px black;
    font-size: 15px;

}
#choosefile {
    cursor: pointer;
    margin-left: 1%;
    font-size: 14px;
    color:blue;
    font-family: sans-serif;

}
#upload {
    cursor: pointer;
    height: 20px;
    width: 80px;
    box-shadow: 1px 1px 1px;

}

/* MODAL POP UP */

.modalContainer{
    position: absolute;
    margin-top: -50px;
    height: 100vh;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.95);
z-index: 100;
}


#modal_img{
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    height: 500px;
    width: 500px;
    object-fit: cover;
margin-top: 5%;

}

#modal_title{
    font-family: sans-serif;
    padding-top: 5px;
    padding-left: 7px;
    font-size: 20px;
    width: 240px;
    color: white;
    font-weight: bold;
}


#x{
    font-size: 100px;
    color: white;
    position: absolute;
    z-index: 700;
}
#titleComments {
    font-family: sans-serif;
    position: absolute;
    padding-top: 5px;
    padding-left: 7px;
    font-size: 15px;
    width: 240px;
    font-weight: bold;
    z-index: 100;

}
.commentList{
    position: absolute;

z-index: 100;
}
