* {
}
header {
    height: 15px;
}
#main {
    /* background: #f1f0d1; */
}
a {
    color: black;
}

.imageList {
    margin-right: 19%;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 19%;
    grid-gap: 1.5%;
    margin-bottom: 10%;
}

img {
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 3px 3px 3px;
    height: 280px;
    width: 280px;
    object-fit: cover;
}
#menu{
    height: 30px;
    width: 22px;
    margin-left: 15px;
    margin-top: 15px;
    z-index: 70;
    position: absolute;
}

.black {
    height: 80px;
    width: 282px;
    background: black;
    position: absolute;
    opacity: 0.5;
    z-index: 200;
    z-index: 50;
}
#title {
    font-family: sans-serif;
    position: absolute;
    font-size: 20px;
    width: 250px;
    color: white;
    z-index: 50;
    margin-top: 0.5%;
    margin-left: 0.5%;
    font-weight: bold;
}
.upload {
    display: flex;
    background: #aeeff0;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-bottom: 1%;
}
.inputs {
    margin-left: -4%;
}
#inputfield {
    border: 1px solid black;
    border-radius: 4px;
    height: 24px;
    padding-left: 7px;
    margin-right: 8px;
    box-shadow: 1px 1px black;
    font-size: 15px;
}
#choosefile {
    cursor: pointer;
    margin-left: 1%;
    font-size: 14px;
    color: blue;
    font-family: sans-serif;
}
#upload {
    cursor: pointer;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    margin-left: 5px;
    box-shadow: 1px 1px 1px;
    border: 1.5px solid black;
    font-weight: bold;
}
.more {
    height: 70px;
    width: 180px;
    font-size: 20px;
    margin-left: 45%;
    margin-bottom: 13%;
    border: 1.5px solid black;
    font-weight: bold;
}
/* MODAL POP UP */

.modalContainer {
    display: flex;
    position: fixed;
    margin-top: -50px;
    height: 100vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
}

#modal_img {
    border: 2px solid black;
    box-shadow: 3px 3px 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    height: 480px;
    width: 480px;
    object-fit: cover;
    margin-top: 2%;
    margin-left: 2%;
}

#x {
    font-size: 35px;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    position: absolute;
    margin-left: 63%;
    margin-top: -0.7%;
}

.comments {
    margin-left: 2.5%;
    margin-top: 3%;
    grid-column-start: 1;
}
.imgContainer {
    display: grid;
    grid-template-columns: 495px 1fr;
    grid-template-rows: 495px 1fr;
    height: 650px;
    width: 950px;
    margin-top: 5%;
    margin-left: 20%;
    background-color: rgba(255, 255, 255, 0.9);
}
.inputfields_modal {
    height: 20px;
    width: 120px;
    font-size: 16px;
    border: 1.5px solid black;
    border-radius: 5px;
    padding-left: 3px;
}
#inputfields_modalComment {
    width: 270px;
    height: 20px;
    font-size: 16px;
    padding-left: 3px;
    border: 1.5px solid black;
    border-radius: 5px;
}
#comment {
    height: 24px;
    width: 63px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid black;
}

/* COMMENTS LIST */
.InfoAndComments {
    grid-row-start: 1;
    grid-column-start: 2;
}
.titleComment {
    font-family: sans-serif;
    font-size: 15px;
    width: 290px;
    font-weight: bold;
    color: blue;
    margin-bottom: -3%;
    margin-left: -9%;
}
#modal_title {
    font-family: sans-serif;
    font-size: 24px;
    width: 330px;
    color: black;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 6%;
}
#modal_description {
    font-family: sans-serif;
    font-size: 16px;
    width: 350px;
    color: black;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 6%;
}
#modal_username {
    font-family: sans-serif;
    font-size: 16px;
    width: 350px;
    color: black;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 15%;
}
.commentsList {
    overflow: scroll;
    box-shadow: 1px 1px 1px;
    border: 2px solid black;
    border-radius: 1%;
    background-color: #efe9cc;
    margin-top: 7%;
    width: 70%;
    height: 55%;
    margin-left: 5%;
    grid-column-start: 2;
    grid-row-start: 0;
}
li {
    list-style: none;
}
p {
    font-family: Verdana;
    margin-left: -9%;
    font-size: 13px;
    width: 290px;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
}
